<div class="user-top"></div>
	<img class="portrait" src=<%= picurl%>>
	<div class="nickname"><%= anickname%></div>

	<div class="three">
    <a class="diary" href="/posts/">
      <div class="number"><%= diaNum%></div>
      <div class="word">日记</div>
    </a>
    <a class="follow" href="/follow/">
      <div class="number"><%= folNum%></div>
      <div class="word">已关注</div>
    </a>
    <a class="follower" href="follower">
      <div class="number"><%= foingNum%></div>
      <div class="word">关注</div>
    </a>
</div>