.header{
	background-color: #24a7a3;
	width: 100%;
	height: 56px;
	padding-top: 14px;
}
.title{
	magin-right: 1000px;
	font-family: "PingFang SC";
	font-size: 30px;
}
.search{
	margin-right: 372px;
}
.home{
	margin-right: 298px;
}
.upload{
	margin-right: 224px;
}
.discover{
	margin-right: 150px;
}