/*未完，正在写*/
body{
	background-image: url(./src/picture/sign.png)；
}

.container{
	width: 341px;
	height: 418px;
	background-color: #f8bb69;
	margin: 112px 153px auto auto;
	/*267px 785px;*/
}

.Sign{
	font-size: 24px;
	font-family: 黑体;
	display: inline-block;
}

.mail-field{
	width: 281px;
	height: 49px;
	position: relative;
	border: 1px solid #becacf;
	margin: 
	color: #ffffff;
}

.password-field{
	width: 281px;
	height: 49px;
	position: relative;
	border: 1px solid #becacf;
	margin: ;
	color: #ffffff;
}

.register{
	width: 281px;
	height: 49px;
	position: relative;
	margin: ;
	background-color: #27c5af;
	color: #ffffff;
	font-size: 24px;
    font-family: 黑体;
    text-align: center;
    line-height: 49px;
}